CONSUMER_KEY = '' #keep the quotes, replace this with your consumer key
CONSUMER_SECRET = '' #keep the quotes, replace this with your consumer secret key
ACCESS_KEY = '' #keep the quotes, replace this with your access key
ACCESS_SECRET = '' #keep the quotes, replace this with your access token secret